# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.class

# Test
**/prova.*
**/input.txt
**/output.txt
**/.vscode/settings.json
Reti/tabella.txt
TSDW/Tomcat/

#Test Images for I&M
/I&M/**/*.jpg
/I&M/**/*.jpeg
/I&M/**/*.png


#File senza estensione (da StackOverflow)
#*
#!/**/
#!*.*

*.prefs
